{% extends "base.html.twig" %}
{% block header %}
{% endblock %}

{% block content %}
    <div class="fundo-topo-menu">
        Listagem de Pessoal
        <a href="#!" title="Exportar para PDF" id="_btn-gera-pdf-employees" class="pull-right">
            <img src="{{ asset('uploads/images/logo_pdf.png') }}" width="32" height="auto" float="right">
        </a>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1 col-xs-12">
                <h4>Ações</h4>
                <a href="{{ path('dai_rh_cadastro_novo') }}"
                   class="btn btn-success btn-block">Novo</a>
            </div>
            <div class="col-md-10 col-xs-12 table-responsive">
                <table class="table table-hover datatables" id="_table_employees">
                    <thead>
                    <tr>
                        <th>Matrícula</th>
                        <th>CPF nº</th>
                        <th>Nome</th>
                        <th>Classificação</th>
                        <th>Lotação</th>
                        <th>Cargo</th>
                        <th>Exercício em:</th>
                        <th>#</th>
                        <th>#</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in empls %}
                        <tr>
                            <td>{{ "%06d"|format(i.matricula) }}</td>
                            <td>{{ i.cpf }}</td>
                            <td>{{ i.nome }}</td>
                            <td>{{ i.classificacao.nome }}</td>
                            <td>{{ i.departamento.descricao }}</td>
                            <td>{{ i.cargo.descricao }}</td>
                            <td>{{ i.dataposse|date('d/m/Y') }}</td>
                            <td><a href="{{ path('dai_rh_cadastro_editar', {'id':i.matricula}) }}"
                                   class="btn btn-default btn-sm">Editar</a></td>
                            <td><a href="{{ path('dai_rh_cadastro_deletar', {'id':i.matricula}) }}"
                                   onclick="return confirm('Tem certeza?')" class="btn btn-danger btn-sm">Deletar</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot><tr><td colspan="9"></td></tr></tfoot>
                </table>
            </div>
        </div>
    </div>

{% endblock %}