{% extends "base.html.twig" %}
{% block header %}
{% endblock %}

{% block content %}
    <div class="fundo-topo-menu">
        Tipos de Processo
    </div>

    <div class="container-fluid">
        <br>
        <div class="row">
            <div class="container">
                <div class="col-md-1 col-xs-12">
                    <h4>Ações</h4>
                    <a href="{{ path('esp_produtividade_tipo-de-processo_novo') }}"
                       class="btn btn-success">Novo</a><br>
                </div>
                <div class="col-md-11 col-xs-12 table-responsive">

                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th colspan="4">
                                    {{ knp_pagination_filter(tprocs, {
                                        'tpc.descricao':'Descricao'
                                    }) }}
                                </th>
                            </tr>
                            <tr>
                                <th>Descrição</th>
                                <th>Peso</th>
                                <th>#</th>
                                <th>#</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in tprocs %}
                                <tr>
                                    <td>{{ i.descricao }}</td>
                                    <td>{{ (i.peso)|number_format(2, ',', '.') }}</td>
                                    <td><a href="{{ path('esp_produtividade_tipo-de-processo_editar', {'id':i.id}) }}"
                                           class="btn btn-default btn-sm">Editar</a></td>
                                    <td><a href="{{ path('esp_produtividade_tipo-de-processo_editar', {'id':i.id}) }}"
                                           onclick="return confirm('Tem certeza?')" class="btn btn-danger btn-sm">Deletar</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="8"></td>
                            </tr>
                            </tfoot>
                        </table>
                        <div class="navigation">
                            {{ knp_pagination_render(tprocs) }}
                        </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}