{% extends "base.html.twig" %}
{% block header %}

    <a href="{{ path('index_geral') }}" class="navbar-brand" title="Home">
        <i class="glyphicon glyphicon-home"></i>
    </a>

    <div class="fundo-topo-menu">
        Editar Chamado
    </div>

{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xs-12">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-2 col-xs-12">
                        {{ form_row(form.id, {'label':'Id'}) }}
                    </div>
                    <div class="col-md-10 col-xs-12">
                        {{ form_row(form.nome, {'label':'Nome'}) }}
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <input type="submit" value="Enviar" class="btn btn-primary"/>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}