{% extends "base.html.twig" %}
{% block header %}
{% endblock %}

{% block content %}
    <div class="fundo-topo-menu">
        Listagem de chamados
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1 col-xs-12">
                <h4>Ações</h4>
                <a href="{{ path('dti_chamado_novo') }}"
                   class="btn btn-success btn-block">Novo</a>
            </div>
            <div class="col-md-10 col-xs-12 table-responsive">
                <table class="table table-hover datatables" id="_table_employees">
                    <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Status</th>
                        <th>Data Abertura</th>
                        <th>Data Fechamento</th>
                        <th>Opções</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in chamados %}
                        <tr>
                            <td>{{ i.titulo }}</td>
                            <td>{{ i.status }}</td>
                            <td>{{ i.dataabertura is empty ? "" : i.dataabertura.format('d/m/Y') }}</td>
                            <td>{{ i.datafechamento is empty ? "" : i.datafechamento.format('d/m/Y') }}</td>
                            <td><a href="{{ path('dti_chamado_editar', {'id':i.id}) }}"
                                   class="btn btn-default btn-sm">Editar</a> <a href="{{ path('dti_chamado_deletar', {'id':i.id}) }}"
                                   onclick="return confirm('Tem certeza?')" class="btn btn-danger btn-sm">Deletar</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot><tr><td colspan="9"></td></tr></tfoot>
                </table>
            </div>
        </div>
    </div>

{% endblock %}