{% extends "base.html.twig" %}
{% block header %}
{% endblock %}

{% block content %}
    <div class="fundo-topo-menu">
        Listagem de chamados
        <a href="#!" title="Exportar para PDF" id="_btn-gera-pdf-employees" class="pull-right">
            <img src="{{ asset('uploads/images/logo_pdf.png') }}" width="32" height="auto" float="right">
        </a>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1 col-xs-12">
                <h4>Ações</h4>
                <a href="{{ path('dti_chamado_novo') }}"
                   class="btn btn-success btn-block">Novo</a>
            </div>
            <div class="col-md-10 col-xs-12 table-responsive">
                <table class="table table-hover datatables" id="_table_employees">
                    <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Data Abertura</th>
                        <th>Data Fechamento</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in chamados %}
                        <tr>
                            <td>{{ i.titulo }}</td>
                            <td>{{ i.dataabertura }}</td>
                            <td>{{ i.datafechamento }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot><tr><td colspan="9"></td></tr></tfoot>
                </table>
            </div>
        </div>
    </div>

{% endblock %}