{% extends "base.html.twig" %}
{% block header %}
{% endblock %}

{% block content %}
<div class="fundo-topo-menu">
    Editar Usuário
</div>
<br>

{{ form_start(form) }}

<div class="row">

    <div class="col-md-2 col-xs-12">
        {{ form_row(form.matricula, {'label':'Matrícula'}) }}
    </div>
    <div class="col-md-4 col-xs-12">
        {{ form_row(form.nome, {'label':'Nome Completo'}) }}
    </div>
    <div class="col-md-6 col-xs-12">
        {{ form_row(form.email, {'label':'E-mail'}) }}
    </div>
    <div class="col-md-6 col-xs-12">
        {{ form_row(form.username, {'label':'Login'}) }}
    </div>
    <div class="col-md-3 col-xs-12">
        {{ form_row(form.cargo, {'label':'Cargo'}) }}
    </div>
    <div class="col-md-3 col-xs-12">
        {{ form_row(form.lotacao, {'label':'Lotação'}) }}
    </div>
    <div class="col-md-6 col-xs-12">
        {{ form_row(form.roles, {'label':'Perfil'}) }}
    </div>
    <div class="col-md-6 col-xs-12">
        {{ form_row(form.enabled, {'label':'Ativo?'}) }}
    </div>

    <div class="col-md-12 col-xs-12">
        <input type="submit" class="btn btn-primary" value="Alterar" />
    </div>
</div>

{{ form_end(form) }}

{% endblock %}