{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="fundo-login col-md-4 col-xs-12 fundo-shadow">
                <div class="row">
                    <div class="col-xs-12">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}

                    <label for="username" class="required">Usuário:</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="user-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
                    </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                    <label for="password" class="required">Senha:</label>
                    <div class="input-group">

                        <span class="input-group-addon" id="pwd-addon">
                            <i class="glyphicon glyphicon-ok-sign"></i>
                        </span>
                        <input type="password" id="password"
                               class="form-control" name="_password" required="required" autocomplete="current-password" />

                     </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-12">

                        <input type="submit" class="btn btn-primary" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                        {% if error %}
                            <div class="red_color_font" style="font-weight: bold">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="row"><br><br><br></div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                        </div>
                        <div class="form-group">
                           <!-- <a href="{{ path('fos_user_registration_register') }}">Cadastre-se</a><span> | </span> -->
                            <a href="{{ path('fos_user_resetting_request') }}">Esqueceu a senha ?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
